@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body{
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

#main{
    width: 100%;
    margin: auto;
}

header{
    float: left;
    width: 100%;
    background-color: grey;
}

header h1{
    float: left;
    margin-left: 3%;
    color: white;
}

header nav{
    float: right;
    margin-top: 2%;
    width: 50%;
}

nav ul li{
    float: left;
    list-style-type: none;
    margin-left: 2%;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: pink;
}

section{
    float: left;
    width: 100%;
    height: 700px;
}

section article{
    float: left;
    width: 60%;
    background-color: lightblue;
    height: 100%;
}

section aside{
    float: left;
    width: 40%;
    background-color: lightblue;
    height: 100%;
}

section p{
    text-align: justify;
    margin: 2%;
}

footer p{
    text-align: center;
    color: white;
}

footer{
    float: left;
    background-color: navy;
    width: 100%
}