<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout using CSS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <script src="{% static '/js/test.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <!-------------HEADER----------------->
        <header>
            <h1>Sample Website</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <!-------------HEADER ENDS----------------->

        <!-------------SECTION----------------->
        <section>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus ante a nunc dapibus ullamcorper. Morbi a lorem varius velit lobortis eleifend. Curabitur pretium, felis sed rhoncus blandit, sem urna pharetra quam, vulputate porttitor lorem massa id nulla. Sed non iaculis diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis eget dictum mi. Sed hendrerit facilisis urna. Duis leo dolor, faucibus vitae laoreet sed, vehicula at justo. Quisque sollicitudin justo mollis, pellentesque est ac, varius lectus. Integer auctor, enim eget posuere scelerisque, mauris tellus ullamcorper mi, vitae fermentum sapien mi et urna. Curabitur vulputate faucibus est, pellentesque viverra est mollis commodo. Donec lacus nibh, vestibulum ut lacus vel, porta imperdiet est. Etiam mollis blandit tincidunt. Vestibulum lacinia, urna nec vehicula iaculis, odio ex sollicitudin enim, non convallis dui risus at neque.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus ante a nunc dapibus ullamcorper. Morbi a lorem varius velit lobortis eleifend. Curabitur pretium, felis sed rhoncus blandit, sem urna pharetra quam, vulputate porttitor lorem massa id nulla. Sed non iaculis diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis eget dictum mi. Sed hendrerit facilisis urna. Duis leo dolor, faucibus vitae laoreet sed, vehicula at justo. Quisque sollicitudin justo mollis, pellentesque est ac, varius lectus. Integer auctor, enim eget posuere scelerisque, mauris tellus ullamcorper mi, vitae fermentum sapien mi et urna. Curabitur vulputate faucibus est, pellentesque viverra est mollis commodo. Donec lacus nibh, vestibulum ut lacus vel, porta imperdiet est. Etiam mollis blandit tincidunt. Vestibulum lacinia, urna nec vehicula iaculis, odio ex sollicitudin enim, non convallis dui risus at neque.</p>
            </article>
            <aside>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus ante a nunc dapibus ullamcorper. Morbi a lorem varius velit lobortis eleifend. Curabitur pretium, felis sed rhoncus blandit, sem urna pharetra quam, vulputate porttitor lorem massa id nulla. Sed non iaculis diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis eget dictum mi. Sed hendrerit facilisis urna. Duis leo dolor, faucibus vitae laoreet sed, vehicula at justo. Quisque sollicitudin justo mollis, pellentesque est ac, varius lectus. Integer auctor, enim eget posuere scelerisque, mauris tellus ullamcorper mi, vitae fermentum sapien mi et urna. Curabitur vulputate faucibus est, pellentesque viverra est mollis commodo. Donec lacus nibh, vestibulum ut lacus vel, porta imperdiet est. Etiam mollis blandit tincidunt. Vestibulum lacinia, urna nec vehicula iaculis, odio ex sollicitudin enim, non convallis dui risus at neque.</p>
            </aside>
        </section>
        <!-------------SECTION ENDS----------------->

        <!-------------FOOTER----------------->
        <footer>
            <p>Made with love.</p>
        </footer>
        <!-------------FOOTER ENDS----------------->
    </div>
</body>
</html>