<html>
<body>

<h1>Root Page</h1>
<br>
<a href="/index/">index</a>
<br> <br>
<a href="/time/">time</a>
<br> <br>
<a href="/show/">show</a>
<br> <br>
<a href="/msg/">msg</a>
<br> <br>
<a href="/display/">display</a>
<br> <br>
<a href="/homepage/">homepage</a>
<br> <br>
<a href="/studentlist/">student list</a>
<br> <br>
<a href="/createstudent/">create student</a>
<br> <br>
<a href="/getcsv">getcsv</a>
<br> <br>
<a href="/getcsvdb">getcsvdb</a>
<br> <br>
<a href="/getpdf">getpdf</a>
<br> <br>
<a href="/getpdfdb">getpdfdb</a>
<br> <br>
<a href="/nicepdf">nicepdf</a>
<br> <br>

</body>
</html>
