<!DOCTYPE html>
<html lang="en">
<head>
    <title>Students List</title>
</head>
<body>
    <table border="1px" align="center" cellpadding="10px" cellspacing="5px">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email ID</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th colspan="2">Action</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student.fname}}</td>
            <td>{{student.lname}}</td>
            <td>{{student.email}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.age}}</td>
            <td><a href="/edit/{{student.id}}">Edit</a></td>
            <td><a href="/delete/{{student.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <center><a href="/createstudent/">Create a new student</a></center>
</body>
</html>