<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test template</title>
    <style>
        h2{
            color: coral;
            text-align: center;
        }
        body{
            background-color: lightgreen;
        }
    </style>
</head>
<body>
    <h2>You are viewing a test template of Django app.</h2>
    <a href="/show/">Home</a>
</body>
</html>